# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Prisma
# **/prisma/migrations/

sprints

high_level_architecture_final